h1 {
    font-size: 32px;
    color: orange;
}

p {
    color: blue;
}

.header-paragraph {
    color: green;
}

.generation-wording {
    color: red;
    font-size: 32px;
}

#gen-header {
    color: blueviolet;
    background-color: aquamarine;
}